/* General settings */
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12pt;
}

header {
    height: 80px;
}

main {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    height: 100%;
    min-height: calc(100vh - 120px);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px 20px 20px;
    font-size: 36pt;
    font-weight: 300;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 24pt;
    font-weight: 500;
}

h3 {
    font-size: 14pt;
}

.main_text {
    color: black;
}

.main_background {
    background-color: #F0F1F3;
}

.white_background {
    background-color: white;
}

.bold_title {
    font-size: 36pt;
    font-weight: 700;
}

.dark_mode .main_text {
    color: white;
}

.dark_mode .main_background {
    background-color: #131313;
}

.dark_mode .white_background {
    background-color: #212121;
}



/* General input field */
.input_field {
    all: unset;
    padding: 5px 5px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid grey;
    height: 19px;
    font-weight: 400;
}

.dark_mode .input_field {
    background-color: #212121;
}

.input_field:focus {
    outline: 1px solid black;
}

.dark_mode .input_field:focus {
    outline: 1px solid white;
}



/* All buttons */
.buttons {
    border: none;
    text-decoration: none;
    height: 29px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 500;
    cursor: pointer;
    background-color: white;
    border-radius: 7px;
    color: black;
    outline: 2px solid black;
}

/* General button actions + general circle buttons */
.general_buttons:hover, .general_circle_button:hover {
    outline: 2px solid #3f71e6;
    transition: 0.2s;
}

.general_buttons:active, .general_circle_button:active {
    color: #3f71e6;
    outline: 2px solid #3f71e6;
    transition: 0.2s;
}

.dark_mode .general_buttons, .dark_mode .buttons  {
    color: white;
    background-color: #212121;
    outline: 2px solid white;
}

.dark_mode .general_buttons:hover, .dark_mode .general_circle_button:hover  {
    outline: 2px solid #3f71e6;
    transition: 0.2s;
}

.dark_mode .general_buttons:active, .dark_mode .general_circle_button:active {
    color: #3f71e6;
    outline: 2px solid #3f71e6;
    transition: 0.2s;
}

/* GENERAL circle button + its DARK MODE */
.general_circle_button {
    border: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 29px;
    width: 29px;
    border-radius: 50%;
    background-color: #f0f1f3;
    outline: 2px solid black;
}

.dark_mode .general_circle_button {
    background-color: #131313;
    outline: 2px solid white;
}



/* THEME SWITCH */
#theme_switch_box {
    position: absolute;
    display: inline-block;
    top: 27px;
    left: 80vw;
    width: 55px;
    height: 29px;
    cursor: pointer;
    outline: 2px solid black;
    border-radius: 40px;
    background-color: #f0f1f3;
}

#theme_switch_box:hover, #theme_switch_box:active {
    outline: 2px solid #3f71e6;
}

.dark_mode #theme_switch_box {
    outline: 2px solid white;
    background-color: #131313;
}

.dark_mode #theme_switch_box:hover, .dark_mode #theme_switch_box:active {
    outline: 2px solid #3f71e6;
}

#switch_button_icon {
    position: relative;
    top: 3px;
    left: 2px;
    height: 5px;
    transition: color 0s, left 0.3s;
}

.dark_mode #switch_button_icon {
    left: 28px;
}

/* iPhone 12 Pro screen size*/
@media only screen and (min-width: 390px) {
    #theme_switch_box {
        left: calc(50vw + 110px);
    }
}

/* computer screen size */
@media only screen and (min-width: 1600px) {
    #theme_switch_box {
        left: calc(50vw + 610px);
    }
}



/* Kanban Board */
.kanban_board_section {
    border-radius: 15px;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.09) 0 8px 24px;
    background-color: white;
}

.dark_mode .kanban_board_section {
    background-color: #212121;
}

#kanban_board {
    display: flex;
}

.kanban_column {
    background-color: #f0f1f3;
    border-radius: 12px;
    margin: 0 45px 30px 45px;
    min-height: 110px;
}

/* iPhone 12 Pro screen size*/
@media only screen and (min-width: 390px) {
    .kanban_board_section {
        width: 350px;
    }

    #kanban_board {
        flex-direction: column;
        align-items: center;
    }

    .kanban_column {
        width: 300px;
    }
}

/* computer screen size */
@media only screen and (min-width: 1600px) {
    .kanban_board_section {
        width: 1350px;
    }

    #kanban_board {
        flex-direction: row;
        justify-content: left;
        align-items: normal;
    }

    .kanban_column {
        width: 360px;
    }
}



/* ADD COLUMN and TASK BUTTON + its DARK MODE */
.add_button {
    border: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 29px;
    font-weight: 500;
    margin: 8px 45px 25px 45px;
    border-radius: 7px;
    outline: 2px solid black;
}

.add_button:hover {
    outline: 2px solid #3f71e6;
    transition: 0.2s;
}

.add_button:active {
    color: #3f71e6;
    outline: 2px solid #3f71e6;
    transition: 0.2s;
}

.dark_mode .add_button {
    outline: 2px solid white;
}

.dark_mode .add_button:hover {
    outline: 2px solid #3f71e6;
    transition: 0.2s;
}

.dark_mode .add_button:active {
    color: #3f71e6;
    outline: 2px solid #3f71e6;
    transition: 0.2s;
}

/* iPhone 12 Pro screen size*/
@media only screen and (min-width: 390px) {
    #add_kanban_column {
        width: 300px;
    }
}

/* computer screen size */
@media only screen and (min-width: 1600px) {
    #add_kanban_column {
        width: 360px;
    }
}



/* Column heading */
.kanban_column_heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    border-bottom: 2px solid #e2e3e5;
    height: 50px;
    padding: 10px 15px;
}

.dark_mode .kanban_column_heading {
    border-bottom: 2px solid #1a1a1a;
}

.close_column_button {
    position: absolute;
    right: 15px;
}

.title_input {
    padding: 5px 5px;
    border-radius: 5px;
    max-width: 190px;
    font-weight: 700;
    font-size: 14pt;
    white-space: nowrap;
    overflow: hidden;
}

.title_input:focus {
    outline: 1px solid black;
}

.dark_mode .title_input:focus {
    outline: 1px solid white;
}

.column_task_count {
    opacity: 0.5;
    font-weight: 500;
    font-size: 14pt;
}

.column_title_divider {
    padding: 0 10px;
    font-weight: 500;
    font-size: 14pt;
}



/* Tasks */
#add_task_button {
    margin: 17px 0 17px 0;
}

/* iPhone 12 Pro screen size*/
@media only screen and (min-width: 390px) {
    #add_task_button {
        width: 260px;
    }
}

/* computer screen size */
@media only screen and (min-width: 1600px) {
    #add_task_button {
        width: 320px;
    }
}

.tasks_container {
    /* todo */
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 63px;
    /*outline: 2px solid black;*/
}

.tasks {
    /* todo */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /*outline: 2px solid #3f71e6;*/
}

.task {
    /* todo */
    height: 50px;
    width: 100px;
    outline: 2px solid black;
    margin: 10px;
}



/* Small section features */
.features_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1350px;
}

.smaller_feature {
    border-radius: 15px;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.09) 0 8px 24px;
    background-color: white;
    position: relative;
}

.dark_mode .smaller_feature {
    background-color: #212121;
}

#music_player {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

/* iPhone 12 Pro screen size*/
@media only screen and (min-width: 390px) {
    .features_container {
        width: 350px;
        flex-direction: column;
        align-items: center;
    }

    .smaller_feature {
        width: 350px;
    }
}

/* computer screen size */
@media only screen and (min-width: 1600px) {
    .features_container {
        width: 1350px;
        flex-direction: row;
        align-items: normal;
    }

    .smaller_feature {
        width: 650px;
    }
}

.time {
    display: flex;
    align-items: center;
    justify-content: center;
}

.stopwatch_time_number {
    color: black;
    text-align: center;
    font-size: 70px;
    font-weight: 500;
}

.colon {
    width: 35px;
}

.dark_mode .stopwatch_time_number {
    color: white;
}

.buttons_container {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}



/* Timers' buttons colouring (for both pomodoro and stopwatch) */
.time_start:hover {
    outline: 2px solid #30c862;
    transition: 0.2s;
}

.time_start:active {
    color: #30c862;
    outline: 2px solid #30c862;
    transition: 0.2s;
}

.time_stop:hover {
    outline: 2px solid #fe5157;
    transition: 0.2s;
}

.time_stop:active {
    color: #fe5157;
    outline: 2px solid #fe5157;
    transition: 0.2s;
}

.time_reset:hover {
    outline: 2px solid #fed449;
    transition: 0.2s;
}

.time_reset:active {
    color: #fed449;
    outline: 2px solid #fed449;
    transition: 0.2s;
}



/* POMODORO TIMER */
.pomodoro_time_number {
    text-align: center;
    font-size: 70px;
    font-weight: 500;
}

.pomodoro_label_title {
    font-weight: 500;
    padding-bottom: 5px;
    margin-top: 25px;
}

.pomodoro_input_field {
    width: 35px;
    background-color: #f0f1f3;
}

.dark_mode .pomodoro_input_field {
    background-color: #131313;
}

#pomodoro_update_button {
    margin-bottom: 15px;
    margin-top: 5px;
    background-color: #f0f1f3;
}

.dark_mode #pomodoro_update_button {
    background-color: #131313;
}

#details_section {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

#details_section li {
    list-style: none;
    margin-right: 30px;
    margin-top: 5px;
}

#pomodoro_feature {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#pomodoro_settings_form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: #f0f1f3;
    border-radius: 12px;
}

.dark_mode #pomodoro_settings_form {
    background-color: #131313;
}

#pomodoro_settings_title {
    padding-top: 10px;
    padding-bottom: 5px;
}

/* Pomodoro Settings button */
#settings_button {
    background-color: white;
    position: absolute;
    top: 20px;
    left: calc(50% + 108px);
}

.dark_mode #settings_button {
    background-color: #212121;
}

/* iPhone 12 Pro screen size*/
@media only screen and (min-width: 390px) {
    #details_section {
        margin-left: 63px;
    }

    #pomodoro_settings_form {
        width: 300px;
    }

    #details_section li {
        padding-bottom: 8px;
    }
}

/* computer screen size */
@media only screen and (min-width: 1600px) {
    #details_section {
        margin-left: 92px;
    }

    #pomodoro_settings_form {
        width: 555px;
    }

    #details_section li {
        padding: 0 10px 10px 0;
    }

    #details_section li:nth-child(3) {
        padding-right: 59px;
    }
}



/* API REQUEST FORM */
.search_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.api_request_form label {
    display: block;
    font-weight: 500;
    padding-bottom: 5px;
    width: 250px;
}

.api_request_form button {
    margin: 0 0 0 2px;
}



/* Dictionary window */
#dictionary {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.dictionary_findings {
    padding: 10px 15px;
    margin-bottom: 20px;
    position: relative;
    border-radius: 12px;
}

/* iPhone 12 Pro screen size*/
@media only screen and (min-width: 390px) {
    .dictionary_findings {
        width: 300px;
    }
}

/* computer screen size */
@media only screen and (min-width: 1600px) {
    .dictionary_findings {
        width: 555px;
    }
}

.dictionary_findings p {
    padding-bottom: 5px;
}



/* Dictionary findings close button */
.findings_close_button {
    position: absolute;
    top: 15px;
    right: 15px;
}

.searched_word {
    padding-bottom: 10px;
}

.definition_type {
    padding-left: 10px;
    font-style: italic;
    opacity: 0.5;
}

.definition_sentence {
    padding-left: 25px;
    padding-bottom: 10px;
}

.definition_and_synonym {
    font-weight: 500;
}

.error_sentence {
    font-style: italic;
    opacity: 0.5;
}