/* General settings */
*, *:before, *:after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12pt;
}

header {
    height: 80px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px 20px 20px;
    font-size: 36pt;
    font-weight: 300;
}

.main_text {
    color: black;
}

.main_background {
    background-color: #F0F1F3;
}

.white_background {
    background-color: white;
}

#bold_title {
    font-size: 36pt;
    font-weight: 700;
}

.dark_mode .main_text {
    color: white;
}

.dark_mode .main_background {
    background-color: #131313;
}

.dark_mode .white_background {
    background-color: #212121;
}



/* THEME SWITCH */
#theme_switch_box {
    position: absolute;
    display: inline-block;
    top: 27px;
    left: 80vw;
    width: 55px;
    height: 29px;
    cursor: pointer;
    outline: 2px solid black;
    border-radius: 40px;
    background-color: #f0f1f3;
}

#theme_switch_box:hover, #theme_switch_box:active {
    outline: 2px solid #3f71e6;
}

.dark_mode #theme_switch_box {
    outline: 2px solid white;
    background-color: #131313;
}

.dark_mode #theme_switch_box:hover, .dark_mode #theme_switch_box:active {
    outline: 2px solid #3f71e6;
}

#switch_button_icon {
    position: relative;
    top: 3px;
    left: 2px;
    height: 5px;
    transition: color 0s, left 0.3s;
}

.dark_mode #switch_button_icon {
    left: 28px;
}

/* iPhone 12 Pro screen size*/
@media only screen and (min-width: 390px) {
    #theme_switch_box {
        left: calc(50vw + 110px);
    }
}

/* computer screen size */
@media only screen and (min-width: 1600px) {
    #theme_switch_box {
        left: calc(50vw + 610px);
    }
}



/* MAIN SECTION */
main {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    height: 100%;
    min-height: calc(100vh - 120px);
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 24pt;
    font-weight: 500;
}



/* Kanban Board */
.tasks_section {
    border-radius: 15px;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 8px 24px;
    background-color: white;
}

.dark_mode .tasks_section {
    background-color: #212121;
}

#kanban_board {
    display: flex;
}

.kanban_column {
    background-color: #f0f1f3;
    border-radius: 12px;
    margin: 0 45px 30px 45px;
}

/* iPhone 12 Pro screen size*/
@media only screen and (min-width: 390px) {
    .tasks_section {
        width: 350px;
    }

    #kanban_board {
        flex-direction: column;
        align-items: center;
    }

    .kanban_column {
        width: 300px;
    }
}

/* computer screen size */
@media only screen and (min-width: 1600px) {
    .tasks_section {
        width: 1350px;
    }

    #kanban_board {
        flex-direction: row;
        justify-content: left;
        align-items: normal;
    }

    .kanban_column {
        width: 360px;
    }
}



/* ADD COLUMN BUTTON + its DARK MODE */
#add_kanban_column {
    border: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 29px;
    font-weight: 500;
    margin: 8px 45px 25px 45px;
    border-radius: 7px;
    background-color: white;
    outline: 2px solid black;
}

#add_kanban_column:hover {
    outline: 2px solid #3f71e6;
    transition: 0.2s;
}

#add_kanban_column:active {
    color: #3f71e6;
    outline: 2px solid #3f71e6;
    transition: 0.2s;
}

.dark_mode #add_kanban_column {
    outline: 2px solid white;
    background-color: #212121;
}

.dark_mode #add_kanban_column:hover {
    background-color: #212121;
    outline: 2px solid #3f71e6;
    transition: 0.2s;
}

.dark_mode #add_kanban_column:active {
    color: #3f71e6;
    outline: 2px solid #3f71e6;
    transition: 0.2s;
}

/* iPhone 12 Pro screen size*/
@media only screen and (min-width: 390px) {
    #add_kanban_column {
        width: 300px;
    }
}

/* computer screen size */
@media only screen and (min-width: 1600px) {
    #add_kanban_column {
        width: 360px;
    }
}



/* CLOSE BUTTON + its DARK MODE */
.close_button {
    border: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 29px;
    width: 29px;
    border-radius: 50%;
    background-color: #f0f1f3;
    outline: 2px solid black;
}

.close_button:hover {
    outline: 2px solid #3f71e6;
    transition: 0.2s;
}

.close_button:active {
    color: #3f71e6;
    outline: 2px solid #3f71e6;
    transition: 0.2s;
}

.dark_mode .close_button {
    background-color: #131313;
    outline: 2px solid white;
}

.dark_mode .close_button:hover {
    outline: 2px solid #3f71e6;
    transition: 0.2s;
}

.dark_mode .close_button:active {
    color: #3f71e6;
    outline: 2px solid #3f71e6;
    transition: 0.2s;
}



.kanban_column_heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #e2e3e5;
    height: 50px;
    padding: 10px 15px;
}

.dark_mode .kanban_column_heading {
    border-bottom: 2px solid #1a1a1a;
}

.task {
    height: 200px;
    width: 300px;
    /*background-color: white;*/
}



/* Small section features */
.features_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1350px;
}

.smaller_feature {
    border-radius: 15px;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 8px 24px;
    background-color: white;
}

.dark_mode .smaller_feature {
    background-color: #212121;
}

/* iPhone 12 Pro screen size*/
@media only screen and (min-width: 390px) {
    .features_container {
        width: 350px;
        flex-direction: column;
        align-items: center;
    }

    .smaller_feature {
        width: 350px;
    }
}

/* computer screen size */
@media only screen and (min-width: 1600px) {
    .features_container {
        width: 1350px;
        flex-direction: row;
        align-items: normal;
    }

    .smaller_feature {
        width: 650px;
    }
}


.time {
    display: flex;
    align-items: center;
    justify-content: center;
}

.stopwatch_time_number {
    color: black;
    text-align: center;
    font-size: 70px;
    font-weight: 500;
}

.colon {
    width: 35px;
}

.dark_mode .stopwatch_time_number {
    color: white;
}

.buttons_container {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.buttons {
    border: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 29px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 500;
    cursor: pointer;
    background-color: white;
    border-radius: 7px;
    color: black;
    outline: 2px solid black;
}

#stopwatch_start:hover {
    outline: 2px solid #30c862;
    transition: 0.2s;
}

#stopwatch_start:active {
    color: #30c862;
    outline: 2px solid #30c862;
    transition: 0.2s;
}

#stopwatch_stop:hover {
    outline: 2px solid #fe5157;
    transition: 0.2s;
}

#stopwatch_stop:active {
    color: #fe5157;
    outline: 2px solid #fe5157;
    transition: 0.2s;
}

#stopwatch_reset:hover {
    outline: 2px solid #fed449;
    transition: 0.2s;
}

#stopwatch_reset:active {
    color: #fed449;
    outline: 2px solid #fed449;
    transition: 0.2s;
}

.dark_mode .buttons {
    color: white;
    background-color: #212121;
    outline: 2px solid white;
}